.contenedor{
	position: relative;
	display: inline-block;
	text-align: center;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafff5;
    font-size: 36px;
    font-family: sans-serif;
}
.textocentrado{
    font-family: sans-serif;
    position: relative;
    margin-top: 1%;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.cuadradorojo_susdatos{
    background-color:#E20513;
    width: 45%; 
    height: 100%;
    margin-left: 27.5%;
    margin-top: 1%;
}
.listadodocumentos{
    background-color: #bababa;
    font-family: sans-serif;
    width: calc(100% - 110px);
    font-size: 12px;
    padding: 4px 5px;
    margin-top: 4%;
    height: 39px;
}
.inputs{
    width: calc(100% - 124px);
    height: 30px;
    margin-top: 2%;
    font-family: sans-serif;
    background-color: #fefefe;
    font-size: 12px;
    padding: 4px 5px;
}
.cuadroblancotexto{
    width: calc(100% - 124px);
    height: 161px;
    margin-top: 4%;
    line-height: 28px;
    font-size: 12px;
    letter-spacing: -.6px;
    font-family: sans-serif;

}
.cuadradosgrises{
  position: relative;
  display: inline-block;
  text-align: center;
}
.cuadradogrisfecha{
  background-color: #eee;
  color: #9c9b9b;
  font-size: 12px;
  font-family: sans-serif;
  text-align: left;
  height: 38px;
  letter-spacing: -.6px;
  width: 96px;
  padding: 4px 5px;
  border-radius: 0px;
  border: 1px solid #ddd;
}
.cuadradocalendario{
  background-color: #eee;
  font-size: 12px;
  font-family: sans-serif;
  text-align: left;
  width: 28px;
  height: 1px;
  margin-left: 100%;
  border-radius: 0px;
  border: 1px solid #ddd;
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
}
.botonregenerar{
  position: absolute;
  top: 47%;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 91px;
  background-color: #E20513;
  color: #f6f6f6;
  text-shadow: none;
  min-height: 29px;
  border-radius: 0px;
  border: none;
  float: right;
}
.cuadradocodigo{
  border-radius: 0px;
  border: 1px solid #ddd;
  line-height: 28px;
  height: auto;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(226, 224, 224);
  font-size: 20px;
}
.botonenviarsolicitud{
  width: 100%;
  height: 100%;
  background-color: #A9040E;
  box-shadow: 4px 6px 6px #BDBDBD;
  border: 1px #A9040E;
  color: white;
  border-radius: 10px;
  padding-top: 4px;
  height: 50px;
  font-family: sans-serif;
  font-size: 12px;
}
.divSwitch {
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 30.5px;
    height: 17px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    padding: 1px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AAAAAA;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #A70917;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0 2px #E20513;
    /* box-shadow: 0 0 1px #E54F58; */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  
  .labelCheck {
    cursor: pointer;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
  }